/*.header-box {*/
/*    background: lightgrey;*/
/*    text-decoration-color: black;*/
/*    border-style: solid ;*/
/*    text-align: center;*/

/*}*/

/*.paragraph-box {*/
/*    background: lightgrey;*/
/*    border-style: solid;*/


/*}*/


/*.product-card {*/
/*    background: darkslategrey;*/

/*}*/

/*.product-title {*/
/*   color: white;*/
/*    text-align: center;*/
/*    text-decoration: underline;*/
/*}*/

/*.product-image {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    border-style: solid;*/
/*}*/


/*.wrap {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/

/*}*/

/*.post-card {*/
/*    width: 18%;*/
/*    margin: 3px;*/
/*    background: lightgrey;*/
/*}*/


.users-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.user-block {
    width: 49%;
    margin: 1px;
    border-style: solid;
    background: pink;
}



